div(layout='column')
	div(main-der flex layout='row')
	div(flex layout='row')
		div(flex cum-chart)
		div(flex arr-chart)


	div(flex layout='row')
		div(flex start-der)
		div(flex cost-der)

	//- div(flex change-chart)
	//- div(flex change-der)
	//- div(flex arr-chart)